<h1 class="mt-5 mb-2">Sign in</h1>
<p class="mb-5 text-secondary">Create and access your unique shortened URLs.</p>

<%= form_with url: sign_in_path, class: "col col-lg-6" do |form| %>

    <div class="mb-3">
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control", placeholder: "Enter your email", required: true %>
    </div>

    <div class="mb-5">
        <%= form.label :password %>
        <%= form.password_field :password, class: "form-control", placeholder: "Enter your password", required: true  %>
        <div class="mt-2 float-end">
            <%= link_to "Forgot your password?", password_reset_path %>
        </div>
    </div>

    <div>
        <%= form.submit "Sign In", data: { turbo: false }, class: "btn btn-primary" %>
    </div>

<% end %>