<div class="container">

    <div>
        Short URL: <%= link_to URI.join(root_url, @short_url.short_path).to_s, URI.join(root_url, @short_url.short_path).to_s, target: :_blank  %>
    </div>
    <div>
        Target URL:
        <%= @short_url.target_url.target_url %>
    </div>
    <div>
        <%= @short_url.num_clicks %>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">City</th>
            <th scope="col">Country</th>
            <th scope="col">Timestamp</th>
        </tr>
        </thead>
        <tbody>
        <% @short_url.geolocation.each do |short_url| %>
            <tr>
                <td><%= short_url.city %></td>
                <td><%= short_url.country %></td>
                <td><%= short_url.created_at %></td>
            </tr>
        <% end %>


      
    </tbody>
  </table>
</div>
