<%= javascript_include_tag 'num_click_update_dynamic' %>

<div class="container">

    <%= render partial: "shared/go_shorten_url_button" %>

    <ul class="list-group mb-5">
        <li class="list-group-item">
            Short URL: <%= link_to URI.join(root_url, @short_url.short_path).to_s, URI.join(root_url, @short_url.short_path).to_s, target: :_blank, class: "btn btn-light", id: "click-button" %>
        </li>
        <li class="list-group-item">
            Original URL: <%= link_to @short_url.target_url.target_url, @short_url.target_url.target_url, style: "word-break: break-all;" %>
        </li>
        <li class="list-group-item">
            Number of clicks: <span id="num-clicks"><%= @short_url.num_clicks %></span>
        </li>
    </ul>
    

    <% if @short_url.num_clicks == 0 %>
        <div class="alert alert-warning" role="alert">
            This short URL has no clicks yet.
        </div>
    <% else %>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">City</th>
                    <th scope="col">Country</th>
                    <th scope="col">Timestamp</th>
                </tr>
            </thead>
            <tbody>
                <% @short_url.geolocation.each do |short_url| %>
                    <tr>
                        <td><%= short_url.city %></td>
                        <td><%= short_url.country %></td>
                        <td><%= short_url.created_at %></td>
                    </tr>
                <% end %>
            
            </tbody>
    </table>
    <% end %>

    
</div>
