<div class="container">

  <div class="px-4 py-5 text-center">
    <% if @target_urls.length == 0 %>
      <div class="display-6 mb-5">No URLs shortened yet. Try it now!</div>
    <% end %>

    <%= link_to "Shorten new URL", new_url_creation_path, class: "btn btn-primary" %>

  </div>    

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Original URL</th>
        <th scope="col">Title tag</th>
        <th scope="col">Short URL</th>
        <th scope="col">Click count</th>
        <th scope="col">Geolocation</th>
      </tr>
    </thead>
    <tbody>
      <% @target_urls.each do |target_url| %>
        <tr>
          <td><%= target_url.target_url %></td>
          <td><%= target_url.title_tag %></td>

          <% target_url.short_urls.drop(1).each do |first_short_url| %>
            <td><%= link_to URI.join(root_url, first_short_url.short_path).to_s, URI.join(root_url, first_short_url.short_path).to_s, target: :_blank  %></td>
            <td><%= target_url.short_urls.first.num_clicks %></td>    
            <td><%= target_url.short_urls.first.geolocation.city %>, <%= target_url.short_urls.first.geolocation.country %></td> 
          <% end %>

        </tr>

        <% target_url.short_urls.each do |short_url| %>
          <tr>
            <td></td>
            <td></td>
            <td><%= link_to URI.join(root_url, short_url.short_path).to_s, URI.join(root_url, short_url.short_path).to_s, target: :_blank  %></td>
            <td><%= short_url.num_clicks %></td>
            <td><%= short_url.geolocation.city %>, <%= short_url.geolocation.country %></td>
          </tr>
        <% end %>

      <% end %>
      
    </tbody>
  </table>
</div>