<% content_for :use_form_layout do %>
    
    <div>
        <% content_for :form_title do %>
            Forgot your password?
        <% end %>
    
        <% content_for :form_subtitle do %>
            Forgot your password? We've got your back!
        <% end %>
    
        <% content_for :form_body do %>
            <%= form_with url: password_reset_path, class: "col col-12 col-lg-6", local: true do |form| %>
                <div class="mb-5">
                    <%= form.label :email %>
                    <%= form.text_field :email, class: "form-control", placeholder: "Enter your email" %>
                </div>

                <div class="d-flex justify-content-center mb-5">
                    <%= form.submit "Reset Password", data: { turbo: false }, class: "btn btn-primary px-5" %>
                </div>
            <% end %>

            <%= link_to "Go back", :back, class: "text-secondary" %>

        <% end %>
    </div>
        
<% end %>
